# Binance USDM Futures API (required for live trading)
BINANCE_API_KEY=SAfZjaIyWsRLO6EQt3BhtcynjD3ZymnSsOmgYErhPD9SXHLs6T2UfxPV580qwH44
BINANCE_API_SECRET=rD5m1aeO6gXk1Eks5EvdQY5jcguOJM3qxpkljjc7CJIvjtAsAEwgJLssc0neH7lR

# Telegram Notifications (optional but recommended)
TELEGRAM_BOT_TOKEN=8176991059:AAHEFEQCG5KOPgsJ5rTJqOnY1n9om07WS5Q
TELEGRAM_CHAT_ID=924676417

# Trading Mode: true=paper, false=live with real money
PAPER_TRADE=true
